[data-bs-theme="dark"] .bs-card {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}
html {
    background-color: #F1F3F4;
    &[data-bs-theme="dark"] {
        background-color: var(--bs-body-bg);
    }
    // FIXME: intentionally kept these styles here,
    // affected by bootstrap-3's reset css
    small {
        color: #777777;
    }
    label {
        // margin-bottom: 8px;
    }
}
.ai-form {
    background-color: var(--bs-body-bg);
}