<div aria-live="polite" aria-atomic="true" class="position-relative flash-notification" data-controller="notification">
    <div class="toast-container position-fixed top-0 end-0 m-4">
        <turbo-frame id="flash-notification">
            <%= render "shared/flash/notification" %>
        </turbo-frame>
    </div>
</div>