/**
  ===============================================
  All app variables
  ===============================================
 */

// Override Colors
$nav-link-color: #6F6F6F;
$nav-underline-link-active-color: #1A142C;
$nav-underline-border-width: 0.225rem;
$nav-tabs-link-active-color: #0d6efd;
$offcanvas-horizontal-width: 500px;
$primary: #256BFF;
$modal-lg: 900px;
$tooltip-bg: darken(#737373, 20%);
$tooltip-color: var(--bs-white);
$font-family-base: "Inter Tight";
$font-size-base: .875rem;
$btn-line-height: 1.25rem;
$border-radius: .175rem;
$btn-padding-x: 1.5rem;